#button {
	width: 200px;
	height: 100px;
	background: #55D4FF;
	margin: 10% auto;
	text-align: center;
	font-size: 3rem;
	font-family: Arial;
	color: #0000FF;
	line-height: 100px;
	cursor: pointer;
}