<div class="bs-docs-section clearfix">
	<div class="row">
		<navigation-public ng-if="!isLoggedIn"></navigation-public>
		<navigation-logged ng-if="isLoggedIn"></navigation-logged>
	</div>
</div>
<div class="bs-docs-section clearfix">
	<div class="col-lg-1">
	<!-- 	<div class="bs-component">
			<div class="panel panel-default">
				<div class="panel-heading">Categories</div>
				<a href=""><div class="panel-body" ng-click="">All</div></a>
				<a href=""><div class="panel-body" ng-click="">Cars</div></a>
			</div>
		</div> -->
	</div>
	<div>
		<div class="col-lg-8" ng-cloak>
			<ads-public></ads-public>
		</div>
		<div class="col-lg-2" ng-cloak>
			<ads-filters></ads-filters>
		</div>	
		<div class="row">
			<ads-pagination></ads-pagination>
		</div>
	</div>
</div>