html, div, p, ul, li {
    margin: 0px;
    padding: 0px;
}
#questions {
    width: 100%;
    display: block;
    border: 1px solid red;
    line-height: 100%;
}
#questionsDiv, #fullQuestionDiv {
    width: 40%;
    display: inline-block;
    margin-left: 20px;
    border: 1px solid black;
}
#answers {
    width: 100%;
    border: 1px solid green;
}
#answers li {
    list-style: none;
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
}