form {
	width: 600px;

}
input[type=text], [type=tel], [type=date]  {

	display: block;
}
#birth-date, #nationality {
	display: block;
}
fieldset:nth-child(2) > input {	
	 display: inline;
}
.progInputInitial > input,select {
	display: inline;
}
.progInputInitial > label{
	display: block;
}
.langInitialInputs > input,select {
	display: inline;
}
.langInitialInputs > label{
	display: block;
} 

