
table
{
    background-color: #254565;   
    width: 98%;
    height: 5%;
    font-family: 'PT Sans',Tahoma,sans-serif;
    font-size: 14px;       
}

a
{
    text-decoration: none;
    color: white;
}

    table > ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul > li
    {
        display: inline;
        padding: 5px 4px 5px 4px;
        position: relative;
        color: white;
        cursor: pointer;
        align-self: center;
        margin-bottom: 0px;

    }

    .ul1 >.li1:hover
    {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius:6px;
        background-color: #5078C0;
    }

    .blueBtn
    {
        background-color: transparent;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius:6px;
        color: white;
        text-decoration: none;
        border: none;
        padding: 5px 15px 5px 15px; 
        cursor: poiner;
    }

    .blueBtn:hover 
    {
        border: none;
        background: #5078C0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius:6px;
        padding:  5px 15px 5px 15px;
        cursor: pointer;
    }

    .bell
    {
        margin: 0% 0% 0% 50%;

    }

    ul>.bell:hover
    {
        background:#254565; 
    }

    .logoSu
    {
        width: 80%;
        height: 70%;
        border: none;
    }

    .searchField
    {
        width: 150px;
        height: 28px;
        padding: 0px 0px 0px 0px;
        -moz-border-top-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius:6px; 
        -moz-border-bottom-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius:6px;
        border: none;
        text-align: left;
        font-size: 18px;
        position: relative;
    }

    .searchBtn
    {
        width: 30px;
        height: 28px;
        padding-bottom: 6px;
        background-image: url(../images/searchBtn.PNG);
       -moz-border-top-right-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 6px; 
        -moz-border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 6px;
        border: none;
        cursor: pointer;
        position: absolute;
        left: 0px;
        top: -1px;
    }

     .searchBtn:hover
    {
        width: 30px;
        height: 28px;
        padding: 0px 0px 0px 0px;
        background-image: url(../images/searchBtn-hover.png);
       -moz-border-top-right-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 6px; 
        -moz-border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 6px;
        background-color: #254565;
        border: none;
    }

    .dropList
    {
        display: none;  
    }

    li:hover >.dropList
    {
        background-color: #254565;  
        position: absolute;
        display: block;
        float: left;
        right: 0px;
        left: 0px;
        width: 90px;
        line-height: 24px;
        z-index: +1;
        padding: 0px;
        cursor: pointer;
    }

    .dropList1
    {
        display: none; 
    }
    li:hover >.dropList1
    {
        background-color: #254565;  
        position: absolute;
        margin-top: -4px;
        display: block;
        float: left;
        right: 0px;
        left: 0px;
        width: 60px;
        line-height: 24px;
        z-index: +1;
        padding: 0px;
        cursor: pointer;
    }

    .dropList1>li:hover
    {
        background-color: #FF9C00;
    }

    .dropList>li:hover
    {
        background-color: #FF9C00;
    }

    .caret {
        display: inline-block;
        width: 0px;
        height: 0px;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }