@import url("main_sizes.css");
body{
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
}
h1 {
	font-size: 1rem;
}
h2 {
	font-size: 0.7rem;
}
a{
	text-decoration: none;
	color: rgb(255,255,255);
}
p{
	color: #737B7B;
}
div {
	width: 10%;
	float: left;
	margin-left: 5%;
	margin-right: 1%;
}
.startDiv {
	margin-left: 15%;

}