html, body, section, header
h1, article, h2, p, time, 
figure, img, figcaption, span, ul, li {
	padding: 0px;
	margin: 0px;
}

html {
	font-size: 62.5%;
	height: 100%;
	widows: 100%;
}

body {
	height: 100%;
	width: 100%;
}

body > section {
	width: 1347px;
	height: 548px;
	background-color: #EEE;
	color: #133668;
	/*border: 1px solid red;*/
	font-family: Calibri;
	margin-top: 7%;
	padding: 33px 0px 0px 114px;
}

h1 {
	font-size: 2.4rem;
	font-weight: 100;
	text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
}

article {
	width: 333px;
	height: 394px;
	background-color: #FFF;
	box-shadow: 0px 1px 2px #C3C3C3, 0px 1px 2px #C3C3C3;
	margin-top: 18px;
	margin-right: 29px;
	float: left;
}

.articleContent {
	margin-left: 3.4rem;
}

.articleContent h2 {
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 1000;
	padding-top: 2.6rem;
}

.articleContent p:nth-of-type(1) {
	font-size: 1.6rem;
	font-weight: 600; 
	margin-left: 65%;
	margin-top: 2.5rem;
}

.articleContent p:nth-of-type(2) {
	font-size: 15px;
	font-weight: 600; 
	margin-left: 0%;
	margin-top: 0.2rem;
	line-height: 1.5rem;
}

.articleContent p:nth-of-type(3) {
	color: #ADA3C0;
	font-size: 14px;
	font-weight: 600; 
	margin-left: 0%;
	margin-top: 0.2rem;
	line-height: 1.8rem;
	padding-top: 15px;
}

.articleContent p:nth-of-type(3) span {
	color: #133668;
	font-size: 14px;
	font-weight: 900;
	padding-top: 15px; 
}

figure {
	height: 104px;
	width: 266px;
	margin-top: 2rem;
	padding-top: 2rem;
	padding-bottom: 77px; 
	border-top: 2px solid #F4F4F4;
	border-bottom: 2px solid #F4F4F4;
}

figure > img {
	margin-bottom: 1.8rem;
}

figcaption {
	font-size: 1.5rem;
	padding-bottom: 2rem;
}

ul {
	clear: both;
}

section ul li {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: 4.7rem;
	background-color: #4CA0DB;
	text-align: center;
	border: 1px solid #FFF;
	margin-right: -3px;
}

section ul li:hover {
	background-color: #FF9C00;
}

li > p {
	font-size: 15px;
	color: #FFF;
	margin-top: 6px;
}

